<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.bean.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="expect_id" property="expect_id" jdbcType="BIGINT"/>
        <result column="geek_id" property="geek_id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="degree" property="degree" jdbcType="INTEGER"/>
        <result column="low_salary" property="low_salary" jdbcType="INTEGER"/>
        <result column="high_salary" property="high_salary" jdbcType="INTEGER"/>
        <result column="work_date8" property="work_date8" jdbcType="INTEGER"/>
        <result column="work_year" property="work_year" jdbcType="INTEGER"/>
        <result column="rev_wy" property="rev_wy" jdbcType="VARCHAR"/>
        <result column="apply_status" property="apply_status" jdbcType="INTEGER"/>
        <result column="fresh_graduate" property="fresh_graduate" jdbcType="INTEGER"/>
        <result column="skills" property="skills" jdbcType="VARCHAR"/>
        <result column="hunter_visible" property="hunter_visible" jdbcType="TINYINT"/>
        <result column="district_code" property="district_code" jdbcType="INTEGER"/>
        <result column="business_code" property="business_code" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="add_time" property="add_time" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP"/>
        <result column="geek_unified" property="geek_unified" jdbcType="VARCHAR"/>
        <result column="school_id" property="school_id" jdbcType="VARCHAR"/>
        <result column="job_hopping" property="job_hopping" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from recall_expect_v3_0 WHERE id = #{id}
    </select>
</mapper>